includes:
    - /composer/vendor/phpstan/phpstan-strict-rules/rules.neon
    - /composer/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /composer/vendor/phpstan/phpstan-phpunit/extension.neon
    - /composer/vendor/phpstan/phpstan-mockery/extension.neon
    - /composer/vendor/spaze/phpstan-disallowed-calls/extension.neon
    - /composer/vendor/shipmonk/dead-code-detector/rules.neon

parameters:

    level: 9

    paths:
        - ./
